:root {
    --main-background: #1d1d1d;
    --secondary-background: #272727;
    --navbar: #252525;
    --text: white;

    --error: rgb(235, 96, 96);
    --success: rgb(125, 245, 125);

}
body{
    color: var(--text);
}