:root {
    --main-background: #1d1d1d;
    --secondary-background: #272727;
    --navigation-background: #2c2c2c;
    --bold-background: #3f3f3f;
    --navbar: #252525;
    --text: white;
}
body{
    color: var(--text);
}