:root {
    --main-background: #cfd7d8;;
    --secondary-background: #f3f3f3;
    --bold-background: #ffffff;
    --navbar: #e6e6e6;
    --text: black;

    --error: rgb(235, 96, 96);
    --success: rgb(125, 245, 125);

}
body{
    color: var(--text);
}