main {
    display: flex;
    justify-content: flex-end;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 225px;
    padding: 5px;
    margin-top: 15px;
    animation-fill-mode: forwards !important;
    max-width: 70vw;
}

#mainContainer {
    margin: 15px;
    border-radius: 10px;
    width: 100%;
    background: var(--secondary-background);
    animation-fill-mode: forwards;
}
#sidebar > *{
    background-color: var(--secondary-background);
}
#sidebar > ul{
    list-style: none;
    align-items: center;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#sidebar > ul > li {
    cursor: pointer;
    min-height: 24px;
    padding: 5px 0;
    width: 100%;
    transition: all 0.2s;

    display: grid;
    align-items: center;
    grid-template-columns: 64px auto;
}

#sidebar li:hover{
    background-color: var(--bold-background);
}
#sidebar li > *{
    padding: 0 20px;
}
@media screen and (max-width: 310px) {
    #sidebar[data-dockbelow="false"] li > *{
        padding: 0 5px;
    }
    #sidebar[data-dockbelow="false"] li {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    main {
        display: flex;
    }
    

    #mainContainer{
        margin: 0 ;
        width: 100%;
        min-height: 70vh;
        border-radius: 0;
    }
    #sidebar[data-dockbelow="true"] > p {
        display: none;
    }
    #sidebar[data-dockbelow="true"] {
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: row;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 75px;
        max-width: none;
    }
    #sidebar[data-dockbelow="true"] > ul{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: var(--navigation-background);
        width: 80%;
        margin: 0 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        height: 100%;
    }
    #sidebar[data-dockbelow="true"] > ul > li {
        border-radius: 10px;
        width: 70px;
        height: 45px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    #sidebar[data-dockbelow="true"] li > *{
        padding: 0;
    }
    #sidebar[data-dockbelow="true"] .sidebarLinkText{
        display: none;
    }
}

@keyframes sidebar-slide-in {
    from{
        width: 0;
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        width: 225px;
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes sidebar-slide-out {
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
        width: 0;
    }
}


@keyframes mainContainer-max {
    to {
        width: 100%;
    }
}
@keyframes mainContainer-min {
    to {
        width: 100%;
    }
}