button{
    margin: 4px 2px;
}

/* Styles */
button.fill{
    min-width: 100px;
    padding: 1px 15px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 0.3em;
    border: solid 2px;
}

button.outline{
    min-width: 100px;
    padding: 1px 15px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 0.5em;
    border: solid 2px;

    color: var(--text) !important;
    background: transparent !important;
}

button.contextMenu{
    width: 100%;
    height: 35px;
    
    margin: 0 0;
    font-size: 1.0em;
    cursor: pointer;
    
    color: var(--text) !important;
    border: none;
    background: var(--secondary-background);
    
    transition: 0.2s;

    display: flex !important;
    align-items: center;
    flex-direction: row;
}
button.contextMenu:hover{
    background: var(--bold-background)
}
button.contextMenu img{
    max-height: 1.2em;
    max-width: 1.2em;
}
button.contextMenu *{
    margin: 0 10px;
}

button.circle{
    border-radius: 10vh;
    border: none;
    padding: 0.2vh;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.2s;
}
button.circle.primary{
    padding: 0.2vh;
    height: 2em;
    width: 2em;
}
button.circle.secondary{
    padding: 0.2vh;
    height: 1.5em;
    width: 1.5em;
}
/* general */
button.fullspan {
    width: 100%;
    border-radius: 1em;
}
button.withIcon {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
button.withIcon img{
    max-height: 1.2em;
    max-width: 1.2em;
}
button.circle.c-transparent.withIcon{
    border-radius: 0 !important;
    padding: 0 !important;
}

/* Button Colours */
button.c-green {
    background-color: var(--green);
    border-color: var(--green);
    color: white;
}

button.c-green:hover, button.c-green.disabled {
    background-color: green;
    border-color: green;
    transition: 0.2s;
}

button.c-blue {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

button.c-blue:hover, button.c-blue.disabled{
    background-color: #0050a0;
    border-color: #0050a0;
    transition: 0.2s;
}
button.c-red {
    background-color: var(--red);
    border-color: var(--red);
    color: white;
}

button.c-red:hover, button.c-red.disabled{
    background-color: rgb(170, 36, 36);
    border-color: rgb(170, 36, 36);
    transition: 0.2s;
}

button.c-gray {
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    color: white;
}

button.c-gray:hover, button.c-gray.disabled{
    background-color: darkslategray;
    border-color: darkslategray;
    transition: 0.2s;
}
button.c-light-gray {
    background-color: #bbb;
    border-color: #bbb;
    color: white;
}
button.c-light-gray:hover, button.c-light-gray.disabled{
    background-color: #616161;
    border-color: #616161;
    transition: 0.2s;
}
button.c-bold {
    background-color: var(--bold-background);
    border-color: var(--bold-background);
    color: white;
}
button.c-bold:hover, button.c-bold.disabled{
    background-color: var(--secondary-background);
    border-color: var(--bold-background);
    transition: 0.2s;
}
button.c-transparent{
    background-color: transparent;
}


button.size-large{
    height: 40px;
}
button.size-medium{
    height: 32px;
}
button.size-small{
    font-size: small;
    height: 25px;
}