<div class="contextMenu" id="fileContextMenu" style="display: none;">
    <button class="contextMenu" data-action="open"> <img src="/assets/images/icons/dark/file_open.svg" alt=""> Open </button>
    <hr>
    <button class="contextMenu" data-action="copy"> <img src="/assets/images/icons/dark/copy.svg" alt=""> Copy </button>
    <button class="contextMenu" data-action="cut"> <img src="/assets/images/icons/dark/cut.svg" alt=""> Cut </button>
    <button class="contextMenu" data-action="rename"> <img src="/assets/images/icons/dark/edit.svg" alt=""> Rename </button>
    <button class="contextMenu" data-action="delete"> <img src="/assets/images/icons/dark/delete.svg" alt=""> Delete </button>
    <hr>
    <button class="contextMenu" data-action="properties"> <img src="/assets/images/icons/dark/info.svg" alt=""> Properties </button>
</div>
<div class="contextMenu" id="explorerContextMenu" style="display: none;">
    <button class="contextMenu" data-action="view"> <img src="/assets/images/icons/dark/file_open.svg" alt=""> View </button>
    <button class="contextMenu" data-action="sort"> <img src="/assets/images/icons/dark/sort.svg" alt=""> Sort By </button>
    <hr>
    <button class="contextMenu" data-action="paste"> <img src="/assets/images/icons/dark/paste.svg" alt=""> Paste </button>
    <button class="contextMenu" data-action="new"> <img src="/assets/images/icons/dark/file_create.svg" alt=""> New </button>
    <hr>
    <button class="contextMenu" data-action="properties"> <img src="/assets/images/icons/dark/info.svg" alt=""> Properties </button>
</div>